<!doctype html>
<html lang=en>
<head>
    <meta property="og:image" content="https://ignotus87.github.io/mushroom-quiz/SpeciesImages/4.jpg" />
    <meta property="og:title" content="Gombakvíz!" />
    <meta property="og:description" content="Gombaismereti játék" />
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="hu_HU" />
    <meta property="fb:app_id" content="1085715319440316" />
    <meta property="og:url" content="https://ignotus87.github.io/mushroom-quiz/" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QETEXVVSYM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QETEXVVSYM');
    </script>

    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gombakvíz</title>
    <script>

        var jsons = [];

    </script>
    <link rel="stylesheet" href="Style/app.css" />
</head>

<body>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div class="header">
            <div>
                <div class="title">{{ title }}</div> |
                Pontszám: {{ totalPoints }} / {{ numberOfAnsweredQuestions }} ({{ correctRatio }}) | Hibák: {{ mistakeIndexes.length }} <span :class="{ show: mistakeIndexes.length > 0, hide: mistakeIndexes.length === 0 }">| <button class="bootstrap-button" @click="restartWithMistakes()">Hibásak gyakorlása</button></span> | <button class="bootstrap-button" @click="reset()">Újrakezdés</button>
                | <a href="mailto:mushroomquiz1@gmail.com?subject=Visszajelzés a weboldalról">Visszajelzés küldése</a>
            </div>
        </div>

        <div class="puzzle-container">
            <p class="game-title">{{ gameTitle }}</p>

            <div :class="{ 'show': !isEndOfGame, 'hide': isEndOfGame }">{{ actualIndex }}/{{ totalPuzzleItemsCount }}</div>

            <!-- Comment on answer - displayed after answered -->
            <div class="puzzle-image-text">
                <span class="comment-on-answer" v-html="commentToShow"></span>
                <div class="game-result-comment" v-html="gameResultCommentToShow"></div>
                <div>
                    <button class="bootstrap-button next-button " :class="{ 'show': isAnswered && !isEndOfGame, 'hide': !isAnswered  || isEndOfGame }" @click="continueAfterAnswer()">{{ nextButtonText }}</button>
                </div>
            </div>

            <!-- New game -->
            <div :class="{ 'show': isEndOfGame, 'hide': !isEndOfGame }">
                <div>
                    <fieldset class="radio-toolbar">
                        <legend>Nehézség:</legend>
                        <input type="radio" id="difficulty-beginner" name="difficulty" v-model="difficulty" value="beginner" :checked="isBeginner" />
                        <label for="difficulty-beginner">kezdő</label>
                        <input type="radio" id="difficulty-advanced" name="difficulty" v-model="difficulty" value="advanced" :checked="isAdvanced" />
                        <label for="difficulty-advanced">haladó</label>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>Játékindítás</legend>
                        <button class="bootstrap-button" :class="{ 'show': isEndOfGame, 'hide': !isEndOfGame }" @click="reset10()">Új játék (10 kérdés)</button>
                        <button class="bootstrap-button" :class="{ 'show': isEndOfGame, 'hide': !isEndOfGame }" @click="resetAll()">Új játék (összes faj [{{ totalSpeciesCount }}])</button>
                    </fieldset>
                </div>
            </div>

            <div class="puzzle-image-container" :class="{ 'show': !isAnswered, 'hide': isAnswered }">

                <div class="carousel-wrapper">

                    <button class="left" @click="slideImageLeft()" :class="{ 'show': hasMoreImagesLeft, 'hide': !hasMoreImagesLeft }">&lt;</button>

                    <div class="carousel">
                        <div class="item" v-for="(puzzleImage, index) in puzzleImagesAll">
                            <img class="puzzle-image" v-bind:src="puzzleImage" :class="{ 'overlay': isAnswered }" alt="Mi ez a gomba?" />
                            <i><small><br />Forrás: <u class="link" @click="openImageSource()">{{ imageSource }}</u></small></i>
                        </div>
                    </div>

                    <button class="right" @click="slideImageRight()" :class="{ 'show': hasMoreImagesRight, 'hide': !hasMoreImagesRight }">&gt;</button>

                </div>

                <div class="navigation">
                    <span v-for="(puzzleImage, index) in puzzleImagesAll" class="dot" :class="{ 'active': imageIndex === index }" @click="changeSlide(index)"></span>
                </div>


            </div>


            <div class="choice-container" :class="{ 'show': !isEndOfGame && !isAnswered, 'hide': isEndOfGame || isAnswered }">
                <div class="choice">
                    <button :class="{ 'right-selected': choiceIsRight[0], 'wrong-selected': choiceIsWrong[0] }" class="choice bootstrap-button" @click="answered(choices[0])">{{ choices[0] }}</button>
                </div>
                <div class="choice">
                    <button :class="{ 'right-selected': choiceIsRight[1], 'wrong-selected': choiceIsWrong[1] }" class="choice bootstrap-button" @click="answered(choices[1])">{{ choices[1] }}</button>
                </div>
                <div class="choice">
                    <button :class="{ 'right-selected': choiceIsRight[2], 'wrong-selected': choiceIsWrong[2] }" class="choice bootstrap-button" @click="answered(choices[2])">{{ choices[2] }}</button>
                </div>
                <div class="choice">
                    <button :class="{ 'right-selected': choiceIsRight[3], 'wrong-selected': choiceIsWrong[3] }" class="choice bootstrap-button" @click="answered(choices[3])">{{ choices[3] }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="flex-container">
            <div id="visitor-counter">
                <a href='http://www.freevisitorcounters.com'>Freevisitorcounters</a>
                <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=3d52bcb9540e6b8b3049a1a51e514ac70e8666ea'></script>
                <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1266216/t/4"></script>
            </div>

            <div id="background-credits">
                Background by <a href="https://www.freepik.com/free-vector/school-fishes-background-with-deep-sea_2235607.htm#query=fish%20background&position=10&from_view=keyword&track=ais" target="_blank">Freepik</a>
            </div>
        </div>
    </div>

    <script type="module" src="./selectNameByImage.js"></script>
</body>

</html>